{% assign product_vendor_handle = product.vendor | handle %}

{% if collections[product_vendor_handle].handle == product_vendor_handle %}
    {% assign vendor_url = collections[product_vendor_handle].url %}
{% else %}
    {% assign vendor_url = product.vendor | url_for_vendor %}
{% endif %}

{% if settings.show_product_vendor %}
    <h2 class="brand" itemprop="brand">{{ product.vendor | link_to: vendor_url }}</h2>
{% endif %}

<h1 class="product-name" itemprop="name">{{ product.title }}</h1>