#	Ignore bundler config.
/.bundle

#	Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

#	Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#	Ignore Shopify API config file
/config.yml

#	Ignore theme config files
/config/*

#	Ignore images
/assets/*.png
/assets/*.jpg
/assets/*.jpeg
/assets/*.svg
/assets/*.gif

#	Ignore fonts
/assets/*.eot
/assets/*.ttf
/assets/*.woff

#	Ignore locales
/locales/*
